[Unit]
Description=Fake Hardware Clock
After=dbus.service

[Service]
Type=forking
ExecStart=/usr/local/bin/fake-hwclock
ExecStop=/usr/local/bin/fake-hwclock
TimeoutSec=0
RemainAfterExit=yes
User=root

[Install]
WantedBy=multi-user.target
