[Unit]
Description=Fake Hardware Clock
After=ntpd.service

[Service]
Type=forking
ExecStart=/opt/fake-hwclock start
ExecStop=/opt/fake-hwclock stop
TimeoutSec=0
RemainAfterExit=yes
User=root

[Install]
WantedBy=multi-user.target
