[Unit]
Description=Fake Hardware Clock
Documentation=man:fake-hwclock(8)
DefaultDependencies=no
Before=systemd-journald.service
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/bin/fake-hwclock
ExecStop=/usr/bin/fake-hwclock
RemainAfterExit=yes

[Install]
WantedBy=local-fs-pre.target
