[Unit]
Description=Fake Hardware Clock
Documentation=man:fake-hwclock(8)
DefaultDependencies=no
Before=sysinit.target

[Service]
Type=forking
ExecStart=/usr/bin/fake-hwclock
ExecStop=/usr/bin/fake-hwclock
TimeoutSec=0
RemainAfterExit=yes
User=root

[Install]
WantedBy=sysinit.target
