[Unit]
Description=Fake Hardware Clock
Documentation=man:fake-hwclock(8)
DefaultDependencies=no
Before=systemd-journald.service
Conflicts=shutdown.target
Wants=fake-hwclock.timer

[Service]
Type=simple
ExecStart=/usr/bin/fake-hwclock

[Install]
WantedBy=local-fs-pre.target
